<!DOCTYPE html>
<html>
  <head>
    <title>Leigh Beah Malabanan | Portfolio</title>

    <meta charset="utf-8">
    <meta name="description" content="<%= productDescription %>">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="./vector/me.png">
  </head>
  <body>
    <!-- DO NOT touch the following DIV -->

    <form name="contact" method="POST" data-netlify="true" hidden>
      <div>
        <input class="input__last" type="text" name="first_name" placeholder="First Name" style="width: 40%" />
        <input class="input__last" type="text" name="last_name"  placeholder="Last Name" style="width: 40%" />
      </div>
      <div>
        <input class="input__last" type="email" name="email" placeholder="Email"  style="width: 83%" />
      </div>
      <div>
        <textarea class="input__last" name="message" placeholder="Message" style="width: 83%; height: 100px"></textarea>
      </div>
      <div>
        <button class="input__last text-bold" type="submit" style="width: 83%; font-size: 20px; cursor: pointer">Send</button>
      </div>
    </form>


    <div id="q-app"></div>
  </body>
</html>


<style>
  body {
    overflow-x: hidden !important;
  }
</style>